/* illHUEminate Stylesheet*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  height: 150px;
}

img:hover{ 
  transform: scale(1.05);
  cursor: pointer;
}

.jumbotron  {
  line-height: 1;
  color: inherit;
  background-color: black;
  padding-bottom: 0px;
  padding-top: 0px;

}

.rainbow {
  background: red;
  background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: lighter;
}

.rainbow:hover {
  -webkit-text-fill-color: white;
}

.about {
  color: inherit;
  color: white;
  font-size: 18px; 
  font-family: 'Oswald', sans-serif;
  padding: 1em;
}

input:valid {
  border: 2px solid white;
}

input:invalid {
  border: 3px solid lightcoral;
}

.container {
  text-align: center;
}

.rainbow2 {
  width: 100%;
  background: red;
  background: -webkit-linear-gradient(to right,red, orange, yellow, green, blue, violet, red, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(to right,red, orange, yellow, green, blue, violet, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(to right,red, orange, yellow, green, blue, violet, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right,red, orange, yellow, green, blue, violet, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: lighter;
  padding: 1em;
}

.rainbow2:hover {
  -webkit-text-fill-color: white;
}

.form-rounded {
  border-radius: 1rem;
}

.form-rounded:after {
  border-radius: 1rem;
}

.card {
  width: 200px;
  height: 150px;
  font-size: 1em;
  margin: 2.3em;
}

.card-title {
  padding-top: 2em;
}

 .footer {
  line-height: 1;
  color: inherit;
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

#background {
  background-size: 100% 100%;
  margin: 0 0 0 auto;
  background-color: rgb(0, 0, 0);
}

#slider {
  width: 255px;
  height: 20px;
  background: grey;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-appearance: none;
}

#submit {
  position: relative;
  transform: translate (-50%, -50%);
  width: 500px;
  height: 90px;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, violet, red,orange, yellow, green, blue, cyan, violet);
  background-size: 400%;
  border-radius: 30px;
  font-family: 'Oswald', sans-serif;
  padding: 1%;
}

#submit:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#submit:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, violet, red,orange, yellow, green, blue, cyan, violet);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5%;
  filter: blur(20px);
}

#submit:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

#palletOut {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/*Media Queries*/
@media only screen and (max-width:768px) {
  .rainbow {
    font-size: 1em;
  }
  .about {
    font-size: 10px;
  }
  .rainbow2 {
    font-size: 1em;
  }
  .footer {
    font-size: 0.4em;
  }
}

@media only screen and (max-width:519px) {
  .rainbow {
    font-size: 1em;
  }
  .about {
    font-size: 10px;
  }
  .rainbow2 {
    font-size: 1em;
  }
  .footer {
    font-size: 0.4em;
  }
}

@media only screen and (max-width:411px) {
  .rainbow {
    font-size: 1em;
  }
  .about {
    font-size: 10px;
  }
  .rainbow2 {
    font-size: 1em;
  }
  .footer {
    font-size: 0.4em;
  }
}

@media only screen and (max-width:375px) {
  .rainbow {
    font-size: 1em;
  }
  .about {
    font-size: 10px;
  }
  .rainbow2 {
    font-size: 1em
  }
  .footer {
    font-size: 0.4em;
  }
}

@media only screen and (max-width:360px) {
  .rainbow {
    font-size: 1em;
  }
  .about {
    font-size: 10px;
  }
  .rainbow2 {
    font-size: 1em;
  }
  .footer {
    font-size: 0.4em;
  }
}
